.phoneContainer{
        display: flex;
        justify-content: center;
}

.inputWrapper{
        margin: 50px 0;
}

.infoTextWrapper{
        font-size: 14px;
        color:var(--secondary-text-color);
        opacity: 0.4;
        width: 320px;
        text-align: center;
        margin:0 auto;
        line-height: 1.5;
        letter-spacing: 0.4px;
}