.card{
        width: 500px;
        max-width: 90%;
        min-height: 300px;
        background-color: var(--secondary-background-color);
        padding: 30px;
        border-radius: 15px;
        text-align: center;
}
.headingWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        gap: 10px;

}
.headingWrapperImage{
        width: 24px;
        /* aspect-ratio: 1/1; */
        
}
.headingWrapperText{
        font-size: 22px;
        font-weight: bold;
}